<!doctype html>

<html>

<head>

    <meta charset="utf-8">

    <title>无标题文档</title>

    <link href="/slider/pgwslider.min.css" rel="stylesheet">

    <style type="text/css">

        body {
            background: rgba(0, 0, 0, 0.3);
            /*position: fixed;*/
            width: 100%;
            /*height: 100%;*/
            z-index: 1;
        }

        .content-img {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            min-height: 450px;
        }

        .content {
            background: rgba(4, 3, 1, 0.87);
        }

        .content-text {
            margin-top: 5%;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 5%;
        }

        em {
            font-style: normal;
            color: #c00;
        }


        .content-parent {
            padding: 15px;
            background: rgba(253, 253, 255, 0.87);
            margin-right: auto;
            margin-left: auto;
            max-width: 1000px;
            margin-top: 2%;
        }

        span {
            color: #347cff;
        }

        h4 {
            color: rgba(215, 215, 215, 0.87);
        }


    </style>

    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>

    <script src="/slider/pgwslider.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $(document).ready(function () {

                $('.pgwSlider').pgwSlider();


            });

        });

    </script>

</head>

<body>

<div class="content-parent">
    <div class="content">
        <div class="content-img">

            <ul class="pgwSlider">

                <%
                if(hourse.hrefArray && hourse.hrefArray.length > 0){
                hourse.hrefArray.forEach(function(item){ %>
                <li><img src="/<%= item %>"> <span>Shanghai, China</span></li>
                <% })}else { %>
                <li><img src="/slider/img/paris.jpg" alt="Paris, France"
                         data-description="Eiffel Tower and Champ de Mars">
                </li>

                <li><img src="/slider/img/new-york.jpg" alt="Montréal, QC, Canada"
                         data-large-src="/slider/img/new-york.jpg">
                </li>

                <li><img src="/slider/img/shanghai.jpg"> <span>Shanghai, China</span></li>

                <li><a href="http://www.jq22.com" target="_blank"> <img src="/slider/img/new-york.jpg">
                        <span>New York, NY, USA</span> </a></li>
                <% } %>
            </ul>

        </div>

        <div class="content-text">

            <h4>
                <%- hourse.title %>
                <p>
                    <%- hourse.content %>
            </h4>


        </div>
    </div>

</div>
</body>

</html>

