<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 倒置的导航栏</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function home() {
            var frameid = document.getElementById("home");
            frameid.src = "<%=global.server_host%>/home";
        }

        function find_parter(){
            var frameid = document.getElementById("home");
            frameid.src = "<%=global.server_host%>/friendfinder/find";
        }

        function login() {
            var frameid = document.getElementById("home");
            frameid.src = "<%=global.server_host%>/login";
        }

        $(function() {
//            $("h1").animate({
//                "margin-left": "100px"
//            }, "slow");

            $(".nav li").on("click", function() {
                $(".nav li").removeClass("active");
                $(this).addClass("active");
            });

        });

    </script>

    <style>
        html,body{
            margin: 0;
            height: 100%;
        }
        /*#bg{*/
            /*width:100%;*/
            /*height:100%;*/
            /*MARGIN: 0px auto;*/
            /*background-color:blue;*/
        /*}*/
    </style>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">房友网</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" onclick="home()">租房</a></li>
                <li><a href="#" onclick="find_parter()">舍友</a></li>
                <%if(isLogined == true){%>
                <li><a href="#" onclick="">个人主页</a> </li>
                <%}else{%>
                <li><a href="#" onclick="login()">登录/注册</a> </li>
                <%}%>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--Java <b class="caret"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">jmeter</a></li>-->
                        <!--<li><a href="#">EJB</a></li>-->
                        <!--<li><a href="#">Jasper Report</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">分离的链接</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">另一个分离的链接</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<div style="width: 100%; height: 100%;margin-top: -15px">
    <iframe id="home" src="<%=global.server_host%>/home" frameborder="0.1" width="100%" height="100%"></iframe>
    <!--<br>-->
    <!--<iframe id="findfrend" src="https://my.oschina.net/lgscofield/blog/471162" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>-->

</div>

</body>
</html>